In [ ]:
# -*- coding: utf-8
# Repórter Brasil (http://ruralometro.reporterbrasil.org.br/)
# Reinaldo Chaves (@paidatocandeira)
# Programa para fazer estatísticas da base do Ruralômetro, em especial deputados com temperatura acima de 37,5
#

In [1]:
import pandas as pd

# Lê notas de deputados

In [9]:
xlsx = pd.ExcelFile('dados_ruralometro_15_01_2018.xlsx')

In [10]:
temps = pd.read_excel(xlsx, 'dados_ruralometro_50_50')

In [11]:
temps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 7 columns):
Politico_CPF                  494 non-null int64
Politico_Nome_urna_votacao    494 non-null object
Partido_atual                 494 non-null object
ponto_final_votacoes          494 non-null float64
pontos_autoria                494 non-null float64
ESCALA_TECNICA                494 non-null float64
TEMPERATURA                   494 non-null float64
dtypes: float64(4), int64(1), object(2)
memory usage: 27.1+ KB

In [12]:
temps.head().reset_index()

,index,Politico_CPF,Politico_Nome_urna_votacao,Partido_atual,ponto_final_votacoes,pontos_autoria,ESCALA_TECNICA,TEMPERATURA
0,0,34577521172,NILSON LEITÃO,PSDB,-0.800000,-0.8,-2.400000,42.000000
1,1,73441040082,JERÔNIMO GOERGEN,PP,-0.571429,-0.9,-2.371429,41.944048
2,2,34148485468,ANDRÉ DE PAULA,PSD,-2.000000,-0.1,-2.200000,41.608333
3,3,16261577900,VALDIR COLATTO,PMDB,-0.769231,-0.7,-2.169231,41.548077
4,4,99898659149,VICENTINHO JÚNIOR,PR,-1.700000,-0.2,-2.100000,41.412500

In [13]:
# Cria dataframe unico

# 1 - Deputados na lista do Ibama

In [14]:
xlsx = pd.ExcelFile('politicos_na_lista_do_Ibama_29_11.xlsx')

In [15]:
politicos_ibama = pd.read_excel(xlsx, 'Plan1')

In [16]:
politicos_ibama.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 9 columns):
Infracao_Ibama_Tamanho_area     4 non-null float64
Entidade_Nome                   13 non-null object
Entidade_documento_original     13 non-null object
Entidade_documento              13 non-null int64
Infracao_Ibama_Estado_Id        13 non-null object
Infracao_Ibama_Municipio        13 non-null object
Infracao_Ibama_Tipo_Infracao    13 non-null object
Infracao_Ibama_Data_Lista       8 non-null datetime64[ns]
Valor_multa                     13 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 1016.0+ bytes

In [17]:
total_politicos_ibama = politicos_ibama.groupby(['Entidade_documento']).Valor_multa.sum().reset_index()

In [18]:
total_politicos_ibama.columns = ['CPF_candidato', 'Total_multa_Ibama']

In [19]:
total_politicos_ibama.reset_index()

   index  CPF_candidato  Total_multa_Ibama
0      0     1960970453              11000
1      1     4789113515               5000
2      2    19705786453             280000
3      3    50872060772               6000
4      4    60507306104             130000

# 2 - Bancadas dos deputados/perfis

In [20]:
xls = pd.ExcelFile('politicos_28_11.xls')

In [21]:
bancadas = pd.read_excel(xls, 'politicos_23_11')

In [22]:
bancadas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 12 columns):
Politico_Link_foto                  513 non-null object
Politico_Estado_Id                  513 non-null object
Politico_nome                       513 non-null object
Politico_CPF                        513 non-null int64
Politico_Nome_urna                  513 non-null object
Politico_Partido_eleicao            513 non-null object
Politico_total_recebido             513 non-null float64
Politico_Cargo_bancada_ruralista    12 non-null object
Politico_Bancada_ruralista          513 non-null object
Politico_Frente_Ambientalista       513 non-null object
Partido_atual                       513 non-null object
Esta_no_cargo                       513 non-null object
dtypes: float64(1), int64(1), object(10)
memory usage: 48.2+ KB

# 3 - Doações indiretas de TE

In [23]:
xlsx = pd.ExcelFile('doacoes_te_indireta_29_11.xlsx')

In [24]:
doacoes_indiretas_te = pd.read_excel(xlsx, 'Plan1')

In [25]:
doacoes_indiretas_te.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
CPF_candidato                       67 non-null int64
Doacao_origem_do_dinheiro_no_tse    67 non-null object
Doacao_valor                        67 non-null float64
Entidade_documento                  67 non-null int64
Entidade_nome                       67 non-null object
CNPJ_raiz_CPF                       67 non-null int64
Entidade_documento_original         67 non-null object
dtypes: float64(1), int64(3), object(3)
memory usage: 3.7+ KB

In [26]:
total_doacoes_indiretas_te = doacoes_indiretas_te.groupby(['CPF_candidato']).Doacao_valor.sum().reset_index()

In [27]:
total_doacoes_indiretas_te.columns = ['CPF_candidato', 'Total_doacao_indireta_TE']

In [28]:
total_doacoes_indiretas_te.head().reset_index()

   index  CPF_candidato  Total_doacao_indireta_TE
0      0      502302801                  36239.75
1      1      551632895                  10187.17
2      2      605387249                 100000.00
3      3     2684165831                    340.00
4      4     4804881859                  28000.00

# 4 - Doações diretas de TE

In [29]:
xlsx = pd.ExcelFile('doacoes_te_direta_29_11.xlsx')

In [30]:
doacoes_diretas_te = pd.read_excel(xlsx, 'Plan1')

In [31]:
doacoes_diretas_te.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 6 columns):
Politico_CPF                   37 non-null int64
Entidade_documento             37 non-null int64
Entidade_nome                  37 non-null object
Doacao_Valor                   37 non-null float64
CNPJ_raiz_ou_CPF               37 non-null int64
Entidade_documento_original    37 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 1.8+ KB

In [32]:
total_doacoes_diretas_te = doacoes_diretas_te.groupby(['Politico_CPF']).Doacao_Valor.sum().reset_index()

In [33]:
total_doacoes_diretas_te.columns = ['CPF_candidato', 'Total_doacao_direta_TE']

In [34]:
total_doacoes_diretas_te.head().reset_index()

   index  CPF_candidato  Total_doacao_direta_TE
0      0     1338190601               100000.00
1      1     1601849834               200000.00
2      2     1782037500                 1000.00
3      3     1960970453                30000.00
4      4     2382091304                50416.65

# 5 - Doações indiretas de Ibama

In [35]:
xlsx = pd.ExcelFile('doacoes_Ibama_indireta_29_11.xlsx')

In [36]:
doacoes_indiretas_ibama = pd.read_excel(xlsx, 'Planilha2')

In [37]:
doacoes_indiretas_ibama.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941 entries, 0 to 940
Data columns (total 7 columns):
CPF_candidato                       941 non-null int64
Doacao_origem_do_dinheiro_no_tse    941 non-null object
Doacao_valor                        941 non-null float64
Entidade_documento                  941 non-null int64
Entidade_nome                       941 non-null object
CNPJ_raiz                           941 non-null int64
Entidade_documento_original         941 non-null object
dtypes: float64(1), int64(3), object(3)
memory usage: 51.5+ KB

In [38]:
total_doacoes_indiretas_ibama = doacoes_indiretas_ibama.groupby(['CPF_candidato']).Doacao_valor.sum().reset_index()

In [39]:
total_doacoes_indiretas_ibama.columns = ['CPF_candidato', 'Total_doacao_indireta_Ibama']

In [40]:
total_doacoes_indiretas_ibama.head().reset_index()

   index  CPF_candidato  Total_doacao_indireta_Ibama
0      0       31226540                    116948.64
1      1      262905701                    150000.00
2      2      263382893                    300000.00
3      3      309745187                    100000.00
4      4      352748672                    125000.00

# 6 - Doações diretas de Ibama

In [41]:
xlsx = pd.ExcelFile('doacoes_Ibama_direta_29_11.xlsx')

In [42]:
doacoes_diretas_ibama = pd.read_excel(xlsx, 'Planilha2')

In [43]:
doacoes_diretas_ibama.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 6 columns):
Politico_CPF                   312 non-null int64
Entidade_documento             312 non-null int64
Entidade_nome                  312 non-null object
Doacao_valor                   312 non-null float64
CNPJ_raiz_CPF                  312 non-null int64
Entidade_documento_original    312 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 14.7+ KB

In [44]:
total_doacoes_diretas_ibama = doacoes_diretas_ibama.groupby(['Politico_CPF']).Doacao_valor.sum().reset_index()

In [45]:
total_doacoes_diretas_ibama.columns = ['CPF_candidato', 'Total_doacao_direta_Ibama']

In [46]:
total_doacoes_diretas_ibama.head().reset_index()

   index  CPF_candidato  Total_doacao_direta_Ibama
0      0      105457434                   50000.00
1      1      352748672                   17127.00
2      2      398099863                  365000.04
3      3      564834904                    4550.00
4      4      590048783                   75000.00

# 7 - Dividas com INSS

In [47]:
xls = pd.ExcelFile('dividas_inss_deputados_10_11.xls')

In [48]:
dividas_inss = pd.read_excel(xls, 'dividas_unidas')

In [49]:
dividas_inss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 11 columns):
Politico_CPF                       96 non-null int64
Politico_Nome                      96 non-null object
Politico_Vinculo                   96 non-null object
INSS_CNPJ_Devedor                  96 non-null object
INSS_CNPJ_limpo                    96 non-null int64
INSS_Empresa_Devedora              96 non-null object
INSS_Valores_situacao_Irregular    59 non-null float64
INSS_Valores_situacao_Regular      47 non-null float64
INSS_Total_Devido                  96 non-null float64
Politico_Nome_urna                 96 non-null object
INSS_Divida_Funrural               8 non-null object
dtypes: float64(3), int64(2), object(6)
memory usage: 8.3+ KB

In [50]:
total_dividas_inss = dividas_inss.groupby(['Politico_CPF']).INSS_Total_Devido.sum().reset_index()

In [51]:
total_dividas_inss.columns = ['CPF_candidato', 'Total_divida_INSS']

In [52]:
total_dividas_inss.head().reset_index()

   index  CPF_candidato  Total_divida_INSS
0      0      352748672          174685.85
1      1      564834904          284281.14
2      2      605387249        36191126.31
3      3      649039661           57041.10
4      4     1055737448           53858.82

In [53]:
# conjuntos

In [54]:
conjunto1 = pd.merge(total_doacoes_diretas_ibama, total_doacoes_indiretas_ibama, left_on='CPF_candidato', right_on='CPF_candidato', how='outer')

In [55]:
conjunto2 = pd.merge(conjunto1, total_politicos_ibama, left_on='CPF_candidato', right_on='CPF_candidato', how='outer')

In [56]:
conjunto3 = pd.merge(conjunto2, total_doacoes_diretas_te, left_on='CPF_candidato', right_on='CPF_candidato', how='outer')

In [57]:
conjunto4 = pd.merge(conjunto3, total_doacoes_indiretas_te, left_on='CPF_candidato', right_on='CPF_candidato', how='outer')

In [58]:
conjunto5 = pd.merge(conjunto4, total_dividas_inss, left_on='CPF_candidato', right_on='CPF_candidato', how='outer')

In [59]:
conjunto6 = pd.merge(conjunto5, bancadas, left_on='CPF_candidato', right_on='Politico_CPF', how='outer')

In [60]:
conjunto6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 513 entries, 0 to 512
Data columns (total 19 columns):
CPF_candidato                       333 non-null float64
Total_doacao_direta_Ibama           141 non-null float64
Total_doacao_indireta_Ibama         227 non-null float64
Total_multa_Ibama                   5 non-null float64
Total_doacao_direta_TE              30 non-null float64
Total_doacao_indireta_TE            28 non-null float64
Total_divida_INSS                   66 non-null float64
Politico_Link_foto                  513 non-null object
Politico_Estado_Id                  513 non-null object
Politico_nome                       513 non-null object
Politico_CPF                        513 non-null int64
Politico_Nome_urna                  513 non-null object
Politico_Partido_eleicao            513 non-null object
Politico_total_recebido             513 non-null float64
Politico_Cargo_bancada_ruralista    12 non-null object
Politico_Bancada_ruralista          513 non-null object
Politico_Frente_Ambientalista       513 non-null object
Partido_atual                       513 non-null object
Esta_no_cargo                       513 non-null object
dtypes: float64(8), int64(1), object(10)
memory usage: 80.2+ KB

In [61]:
conjunto7 = pd.merge(conjunto6, temps, left_on='Politico_CPF', right_on='Politico_CPF')

In [62]:
conjunto7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 494 entries, 0 to 493
Data columns (total 25 columns):
CPF_candidato                       319 non-null float64
Total_doacao_direta_Ibama           134 non-null float64
Total_doacao_indireta_Ibama         218 non-null float64
Total_multa_Ibama                   5 non-null float64
Total_doacao_direta_TE              29 non-null float64
Total_doacao_indireta_TE            24 non-null float64
Total_divida_INSS                   65 non-null float64
Politico_Link_foto                  494 non-null object
Politico_Estado_Id                  494 non-null object
Politico_nome                       494 non-null object
Politico_CPF                        494 non-null int64
Politico_Nome_urna                  494 non-null object
Politico_Partido_eleicao            494 non-null object
Politico_total_recebido             494 non-null float64
Politico_Cargo_bancada_ruralista    12 non-null object
Politico_Bancada_ruralista          494 non-null object
Politico_Frente_Ambientalista       494 non-null object
Partido_atual_x                     494 non-null object
Esta_no_cargo                       494 non-null object
Politico_Nome_urna_votacao          494 non-null object
Partido_atual_y                     494 non-null object
ponto_final_votacoes                494 non-null float64
pontos_autoria                      494 non-null float64
ESCALA_TECNICA                      494 non-null float64
TEMPERATURA                         494 non-null float64
dtypes: float64(12), int64(1), object(12)
memory usage: 100.3+ KB

In [67]:
conjunto7.to_csv('politicos_gerais.csv')

In [70]:
# le arquivo limpo

In [2]:
geral = pd.read_csv("politicos_gerais.csv",sep=';',encoding = 'latin_1', decimal = ",")

In [3]:
geral.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 25 columns):
Total_doacao_direta_Ibama           134 non-null float64
Total_doacao_indireta_Ibama         218 non-null float64
Total_multa_Ibama                   5 non-null float64
Tem_doacao_Ibama                    494 non-null object
Total_doacao_direta_TE              29 non-null float64
Total_doacao_indireta_TE            24 non-null float64
Tem_doacao_TE                       494 non-null object
Total_divida_INSS                   65 non-null float64
Tem_divida_INSS                     494 non-null object
Tem_Funrural                        494 non-null object
Politico_Estado_Id                  494 non-null object
Politico_nome                       494 non-null object
Politico_CPF                        494 non-null int64
Politico_Nome_urna                  494 non-null object
Politico_Partido_eleicao            494 non-null object
Politico_total_recebido             494 non-null float64
Politico_Cargo_bancada_ruralista    12 non-null object
Politico_Bancada_ruralista          494 non-null object
Politico_Frente_Ambientalista       494 non-null object
Partido_atual                       494 non-null object
Esta_no_cargo                       494 non-null object
ponto_final_votacoes                494 non-null float64
pontos_autoria                      494 non-null float64
ESCALA_TECNICA                      494 non-null float64
TEMPERATURA                         494 non-null float64
dtypes: float64(11), int64(1), object(13)
memory usage: 96.6+ KB

# 10 maiores TEMPERATURAS de deputados

In [85]:
dez_colocados = geral.sort_values("TEMPERATURA", ascending=False).head(10)

In [86]:
# Têm entre 42 e 41.216667

In [87]:
dez_colocados.TEMPERATURA.reset_index()

   index  TEMPERATURA
0     88    42.000000
1    269    41.944048
2    230    41.608333
3     53    41.548077
4    282    41.412500
5    288    41.379861
6    381    41.216667
7    348    41.216667
8    187    41.216667
9    134    41.216667

# Carrega votações e projetos

In [4]:
xls = pd.ExcelFile('votos_eleitos_15_01_2018.xls')

In [5]:
votos = pd.read_excel(xls, 'dia29_11_votoseleitos')

In [6]:
xls = pd.ExcelFile('projs_dep_eleitos_15_01_2018.xls')

In [7]:
projetos = pd.read_excel(xls, 'dia29_11_projs_dep_eleitos')

In [92]:
votos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5289 entries, 0 to 5288
Data columns (total 13 columns):
Projeto_votacao                5289 non-null object
Projeto_Data_votacao           5289 non-null object
Partido_na_data_votacao        5289 non-null object
Projeto_Voto                   5289 non-null object
Projeto_Avaliado_por           5289 non-null object
Projeto_Avaliacao              5289 non-null object
Projeto_Relevancia             5289 non-null object
Politico_CPF                   5289 non-null int64
Politico_Partido_na_eleicao    5289 non-null object
Politico_Nome_urna_votacao     5289 non-null object
Partido_atual                  5289 non-null object
Esta_no_cargo                  5289 non-null object
Descricao                      5289 non-null object
dtypes: int64(1), object(12)
memory usage: 537.2+ KB

In [93]:
projetos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 16 columns):
Projeto                   131 non-null object
Autor                     131 non-null object
Autor_isolado             131 non-null object
Ementa                    36 non-null object
Assunto                   131 non-null object
Indicado_por              123 non-null object
Quem_avaliou              131 non-null object
Qual_avaliacao            131 non-null object
Situacao_no_parlamento    11 non-null object
Analise                   10 non-null object
Estado                    131 non-null object
CPF                       131 non-null int64
Partido_eleicao           131 non-null object
Nome_urna_tramitacao      131 non-null object
Partido_atual             131 non-null object
Esta_no_cargo             131 non-null object
dtypes: int64(1), object(15)
memory usage: 16.5+ KB

# Lista temperaturas

In [94]:
geral.sort_values("TEMPERATURA", ascending=False)

,Total_doacao_direta_Ibama,Total_doacao_indireta_Ibama,Total_multa_Ibama,Tem_doacao_Ibama,Total_doacao_direta_TE,Total_doacao_indireta_TE,Tem_doacao_TE,Total_divida_INSS,Tem_divida_INSS,Tem_Funrural,...,Politico_total_recebido,Politico_Cargo_bancada_ruralista,Politico_Bancada_ruralista,Politico_Frente_Ambientalista,Partido_atual,Esta_no_cargo,ponto_final_votacoes,pontos_autoria,ESCALA_TECNICA,TEMPERATURA
88,60000.00,604151.08,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,2460139.11,Presidente,Sim,Sim,PSDB,Sim,-0.800000,-0.8,-2.400000,42.000000
269,NaN,200000.00,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,2755080.00,NaN,Sim,Sim,PP,Sim,-0.571429,-0.9,-2.371429,41.944048
230,NaN,900000.00,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,1282958.60,NaN,Não,Sim,PSD,Sim,-2.000000,-0.1,-2.200000,41.608333
53,40000.00,NaN,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,619891.00,NaN,Sim,Sim,PMDB,Sim,-0.769231,-0.7,-2.169231,41.548077
282,NaN,50000.00,NaN,Sim,NaN,NaN,Não,33187.50,Sim,Não,...,1245720.14,NaN,Sim,Sim,PR,Sim,-1.700000,-0.2,-2.100000,41.412500
288,NaN,NaN,NaN,Não,NaN,100000.00,Sim,NaN,Não,Não,...,290591.66,Secretário,Sim,Sim,PTB,Sim,-1.083333,-0.5,-2.083333,41.379861
381,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,843140.00,NaN,Não,Sim,PSC,Sim,-2.000000,0.0,-2.000000,41.216667
348,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,1882118.19,NaN,Sim,Sim,PTB,Sim,-2.000000,0.0,-2.000000,41.216667
187,NaN,1250000.00,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,6789094.50,NaN,Não,Sim,PMDB,Sim,-2.000000,0.0,-2.000000,41.216667
134,NaN,150000.00,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,3488083.00,NaN,Não,Sim,PMDB,Sim,-2.000000,0.0,-2.000000,41.216667
51,100000.00,428398.11,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,1878332.48,NaN,Sim,Sim,PR,Sim,-1.777778,-0.1,-1.977778,41.173148
341,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,1686109.04,NaN,Sim,Sim,PMDB,Sim,-1.750000,-0.1,-1.950000,41.118750
33,20000.00,NaN,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,2273057.51,NaN,Sim,Não,PDT,Não,-1.666667,-0.1,-1.866667,40.955556
50,348000.00,200000.00,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,2713220.00,NaN,Sim,Sim,PP,Sim,-0.461538,-0.7,-1.861538,40.945513
110,82341.82,1388.91,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,905754.99,NaN,Não,Sim,PP,Sim,-1.800000,0.0,-1.800000,40.825000
458,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,2060000.00,NaN,Não,Sim,PR,Sim,-1.800000,0.0,-1.800000,40.825000
490,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,617756.15,NaN,Não,Sim,PSD,Sim,-1.800000,0.0,-1.800000,40.825000
475,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,642457.48,NaN,Não,Sim,SD,Sim,-1.800000,0.0,-1.800000,40.825000
158,NaN,254572.50,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,742259.17,NaN,Não,Sim,PMDB,Sim,-1.777778,0.0,-1.777778,40.781481
455,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,707561.50,NaN,Não,Sim,PSD,Sim,-1.777778,0.0,-1.777778,40.781481
60,115000.00,NaN,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,1702273.69,NaN,Sim,Sim,PMDB,Sim,-1.166667,-0.3,-1.766667,40.759722
272,NaN,630000.00,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,2410463.23,NaN,Sim,Sim,PR,Sim,-1.750000,0.0,-1.750000,40.727083
160,NaN,100000.00,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,1068389.14,NaN,Sim,Sim,PP,Sim,-1.750000,0.0,-1.750000,40.727083
116,257000.00,NaN,NaN,Sim,NaN,NaN,Não,67684.65,Sim,Não,...,1451276.56,NaN,Sim,Sim,PP,Sim,-1.750000,0.0,-1.750000,40.727083
95,15000.00,1168.62,NaN,Sim,NaN,1462.88,Sim,NaN,Não,Não,...,390634.44,NaN,Sim,Sim,PSD,Sim,-1.750000,0.0,-1.750000,40.727083
194,NaN,213200.00,NaN,Sim,NaN,NaN,Não,49754.93,Sim,Não,...,462650.00,NaN,Não,Sim,PMDB,Sim,-1.727273,0.0,-1.727273,40.682576
153,NaN,300000.00,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,2765208.99,NaN,Não,Sim,PP,Sim,-1.700000,0.0,-1.700000,40.629167
180,NaN,156351.33,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,3158428.85,NaN,Sim,Sim,PMDB,Sim,-1.700000,0.0,-1.700000,40.629167
433,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,520500.00,NaN,Não,Sim,PODE,Sim,-1.700000,0.0,-1.700000,40.629167
62,300000.00,NaN,NaN,Sim,155000.0,NaN,Sim,NaN,Não,Não,...,3180491.28,NaN,Sim,Sim,PSD,Sim,-1.300000,-0.2,-1.700000,40.629167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,235820.94,NaN,Não,Sim,PCdoB,Sim,1.181818,0.0,1.181818,36.472727
204,NaN,18751.33,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,1267482.43,NaN,Sim,Sim,PT,Sim,1.000000,0.1,1.200000,36.460000
488,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,510712.96,NaN,Não,Sim,PSB,Sim,1.230769,0.0,1.230769,36.438462
275,NaN,200000.00,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,1760853.34,NaN,Não,Sim,PSB,Sim,1.250000,0.0,1.250000,36.425000
243,NaN,95000.00,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,453419.68,NaN,Não,Sim,PT,Sim,1.250000,0.0,1.250000,36.425000
94,150.00,315010.45,NaN,Sim,NaN,50000.00,Sim,NaN,Não,Não,...,732340.45,NaN,Não,Sim,PT,Sim,1.250000,0.0,1.250000,36.425000
397,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,198885.00,NaN,Não,Sim,PSOL,Sim,1.076923,0.1,1.276923,36.406154
403,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,102578.41,NaN,Não,Sim,PSB,Sim,1.285714,0.0,1.285714,36.400000
429,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,1928200.00,NaN,Não,Sim,REDE,Sim,1.285714,0.0,1.285714,36.400000
10,50000.00,NaN,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,858162.50,NaN,Não,Sim,REDE,Sim,1.285714,0.0,1.285714,36.400000
125,40000.00,200751.33,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,1997252.86,NaN,Sim,Sim,PROS,Sim,1.571429,-0.1,1.371429,36.340000
267,NaN,9217.00,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,521032.05,NaN,Não,Sim,PT,Sim,1.181818,0.1,1.381818,36.332727
411,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,75592.07,NaN,Não,Sim,PSOL,Sim,1.400000,0.0,1.400000,36.320000
251,NaN,80000.00,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,548486.00,NaN,Não,Sim,PSB,Sim,1.400000,0.0,1.400000,36.320000
390,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,180746.65,NaN,Não,Sim,PSOL,Sim,1.428571,0.0,1.428571,36.300000
264,NaN,100000.00,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,796400.00,NaN,Sim,Sim,PDT,Sim,1.428571,0.0,1.428571,36.300000
376,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,576451.52,NaN,Não,Sim,REDE,Sim,1.454545,0.0,1.454545,36.281818
385,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,38809.50,NaN,Não,Sim,AVANTE,Sim,1.461538,0.0,1.461538,36.276923
464,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,823153.39,NaN,Não,Sim,PT,Sim,1.500000,0.0,1.500000,36.250000
413,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,372436.67,NaN,Não,Sim,REDE,Sim,1.583333,0.0,1.583333,36.191667
44,290.00,NaN,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,526885.16,NaN,Não,Sim,PT,Sim,1.583333,0.0,1.583333,36.191667
73,60000.00,NaN,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,599857.53,NaN,Não,Sim,PT,Sim,1.428571,0.1,1.628571,36.160000
332,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,481280.09,NaN,Sim,Sim,SD,Sim,1.428571,0.1,1.628571,36.160000
482,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,564356.00,NaN,Não,Sim,PSOL,Sim,1.714286,0.0,1.714286,36.100000
420,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,443600.40,NaN,Não,Sim,PSOL,Sim,1.727273,0.0,1.727273,36.090909
195,NaN,485000.00,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,1424880.63,NaN,Não,Sim,PT,Sim,1.750000,0.0,1.750000,36.075000
198,NaN,50000.00,NaN,Sim,NaN,NaN,Não,74985.88,Sim,Não,...,265500.00,NaN,Não,Sim,PSB,Sim,1.777778,0.0,1.777778,36.055556
214,NaN,380000.00,NaN,Sim,3000.0,NaN,Sim,NaN,Não,Não,...,1580826.96,NaN,Não,Sim,PT,Sim,1.800000,0.0,1.800000,36.040000
409,NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Não,...,296103.59,NaN,Não,Sim,PSOL,Sim,1.428571,0.2,1.828571,36.020000
193,NaN,35000.00,NaN,Sim,NaN,NaN,Não,NaN,Não,Não,...,1861367.42,NaN,Não,Não,PV,Não,-0.142857,1.0,1.857143,36.000000

In [95]:
# Entre 42.000000 e 36

In [8]:
temp_lista = geral.TEMPERATURA.value_counts()

In [9]:
temp_lista

39.258333    20
37.300000    11
38.279167     9
39.845833     9
39.911111     8
38.866667     8
38.768750     8
36.950000     8
38.806410     7
36.600000     6
39.650000     6
40.629167     6
37.066667     6
37.200000     6
36.833333     6
39.747917     6
36.854545     6
38.419048     6
40.237500     6
37.834091     6
37.579762     6
38.203846     5
37.859524     5
36.761538     5
40.011538     5
38.546212     5
38.698810     5
37.478030     4
37.222222     4
38.442361     4
             ..
36.332727     1
40.346296     1
41.548077     1
37.495833     1
36.687500     1
36.075000     1
36.860000     1
36.836923     1
37.544792     1
36.740000     1
39.828030     1
39.800641     1
36.714545     1
38.931944     1
36.090909     1
37.724306     1
40.403205     1
37.183333     1
37.008333     1
39.867593     1
39.111458     1
36.670000     1
38.523958     1
36.653846     1
36.918182     1
36.460000     1
36.040000     1
38.823148     1
37.125000     1
37.250000     1
Name: TEMPERATURA, Length: 211, dtype: int64

In [10]:
geral.TEMPERATURA.mean()

38.363823899595133

# Calcula estatísticas do grupo febril, acima de 37,333 - cada variável de filtro é um indicador

In [11]:
grupo_febril = geral[(geral['TEMPERATURA'] > 37.333)]

filtro1 = grupo_febril[(grupo_febril['Politico_Bancada_ruralista'] == 'Sim')]

filtro2 = grupo_febril[(grupo_febril['Politico_Frente_Ambientalista'] == 'Sim')]

filtro3 = grupo_febril[(grupo_febril['Tem_doacao_Ibama'] == 'Sim')]

filtro4 = grupo_febril[(grupo_febril['Tem_doacao_TE'] == 'Sim')]

filtro5 = grupo_febril[(grupo_febril['Tem_divida_INSS'] == 'Sim')]

filtro6 = grupo_febril[(grupo_febril['Tem_Funrural'] == 'Sim')]

votosfebril = pd.merge(grupo_febril, votos, left_on='Politico_CPF', right_on='Politico_CPF', how = 'left')

filtro7 = votosfebril[(votosfebril['Projeto_Voto'] == 'Sim') & (votosfebril['Projeto_Relevancia'] == 'Muito relevante') & (votosfebril['Projeto_Avaliacao'] == 'Desfavorável')]

filtro8 = votosfebril[(votosfebril['Projeto_Voto'] == 'Não') & (votosfebril['Projeto_Relevancia'] == 'Muito relevante') & (votosfebril['Projeto_Avaliacao'] == 'Desfavorável')]

projetosfebril = pd.merge(grupo_febril, projetos, left_on='Politico_CPF', right_on='CPF', how = 'left')

filtro9 = projetosfebril[(projetosfebril['Qual_avaliacao'] == 'Desfavorável')]

filtro10 = projetosfebril[(projetosfebril['Qual_avaliacao'] == 'Favorável')]

In [12]:
votosfebril.to_csv('votosfebril.csv')

In [13]:
projetosfebril.to_csv('projetosfebril.csv')

In [14]:
grupo_febril.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 323 entries, 0 to 492
Data columns (total 25 columns):
Total_doacao_direta_Ibama           94 non-null float64
Total_doacao_indireta_Ibama         139 non-null float64
Total_multa_Ibama                   3 non-null float64
Tem_doacao_Ibama                    323 non-null object
Total_doacao_direta_TE              19 non-null float64
Total_doacao_indireta_TE            19 non-null float64
Tem_doacao_TE                       323 non-null object
Total_divida_INSS                   46 non-null float64
Tem_divida_INSS                     323 non-null object
Tem_Funrural                        323 non-null object
Politico_Estado_Id                  323 non-null object
Politico_nome                       323 non-null object
Politico_CPF                        323 non-null int64
Politico_Nome_urna                  323 non-null object
Politico_Partido_eleicao            323 non-null object
Politico_total_recebido             323 non-null float64
Politico_Cargo_bancada_ruralista    12 non-null object
Politico_Bancada_ruralista          323 non-null object
Politico_Frente_Ambientalista       323 non-null object
Partido_atual                       323 non-null object
Esta_no_cargo                       323 non-null object
ponto_final_votacoes                323 non-null float64
pontos_autoria                      323 non-null float64
ESCALA_TECNICA                      323 non-null float64
TEMPERATURA                         323 non-null float64
dtypes: float64(11), int64(1), object(13)
memory usage: 65.6+ KB

In [15]:
grupo_febril.to_csv('grupofebril.csv')

In [16]:
grupo_febril["Politico_Nome_urna"]

0                           JARBAS
1                BONIFÁCIO ANDRADA
3                    NELSON MEURER
4                     RODRIGO MAIA
5                     EFRAIM FILHO
7                NEWTON CARDOSO JR
8                  WASHINGTON REIS
9                      CAIO NARCIO
11              NELSON MARQUEZELLI
12                         ALELUIA
15                     JOAO ARRUDA
16                    WILSON FILHO
17                   EVAIR DE MELO
20                   DOMINGOS NETO
21                    NILSON PINTO
22                    MILTON MONTI
25                    WALTER ALVES
26                   MARINHA RAUPP
28                      JOSÉ NUNES
29                EZEQUIEL FONSECA
30                      JOSÉ ROCHA
32                    RAFAEL MOTTA
33                          BALMAN
34                  CARLOS SAMPAIO
35                     MARCELO ARO
36                       HERACLITO
37                  SAMUEL MOREIRA
39                JORGE CÔRTE REAL
41                  GORETE PEREIRA
42                     CESAR HALUM
                  ...
444                 THIAGO PEIXOTO
445                       TIRIRICA
446             TONINHO WANDSCHEER
449                  VICTOR MENDES
450              VINICIUS CARVALHO
451                    VITOR LIPPI
452                WALDIR MARANHÃO
454             MAURICIO QUINTELLA
455                     ATILA LINS
456                   MARCOS ROTTA
457                      PAUDERNEY
458                VINÍCIUS GURGEL
460                       TIA ERON
462                  ARNON BEZERRA
467                    ZÉ REINALDO
469                      LUIS TIBE
470              LAUDÍVIO CARVALHO
473                     CHAPADINHA
475                           WLAD
476            DELEGADO EDER MAURO
477                      VENEZIANO
478                        RODRIGO
480                 ALTINEU CORTES
481                        DR JOÃO
483    LUIZ CARLOS RAMOS DO CHAPEU
486            DR. HIRAN GONÇALVES
487                         BUSATO
490          JOÃO PAULO KLEINUBING
491                           PAPA
492                    SERGIO REIS
Name: Politico_Nome_urna, Length: 323, dtype: object